<div class="row" id="registerForm">
	<div class="registerForm col-sm-12">
		<form name="registerForm">

			<h3>Welcome to Music-AJP</h3>
			<p>Fill out this simple form to get started!</p>

			<input required type="email" ng-model="authCtrl.newUser.email" placeholder="Email"/>
			<p ng-hide="authCtrl.newUser.email">Please input a valid email address.</p>
			<p ng-show="authCtrl.newUser.email">Good to go.</p>

			<input required type="password" ng-model="authCtrl.newUser.password" placeholder="Password"/>
			<input required type="password" ng-model="authCtrl.newUser.password2" placeholder="Confirm Password"/>
			<p ng-hide="authCtrl.newUser.password && authCtrl.newUser.password == authCtrl.newUser.password2">Please Input Matching passwords</p>
			<p ng-show="authCtrl.newUser.password && authCtrl.newUser.password == authCtrl.newUser.password2">Passwords Match</p>

			<button type='button' ng-click="authCtrl.register()" ng-show="authCtrl.newUser.email && authCtrl.newUser.password && authCtrl.newUser.password == authCtrl.newUser.password2">Sign Up</button>


		</form>
	</div>
</div>