<div class="row" id="mainView">

	<div class="selector col-sm-3">

	  <label for="artist">Artist:</label>
	  <input id='artistInput' list="artist_list" name="artist"  value="All" class="form-control" ng-model="query.artist">
	  <datalist id="artist_list" >
	  	<option value=""></option>
			<option  ng-repeat="song in songsArray  | unique: 'artist'" value="{{song.artist}}">
	  </datalist>

	  <label for="album">Album:</label>
	  <input id='albumInput' list="album_list" name="album" value="All" class="form-control" ng-model="query.album">
	  <datalist id="album_list">
	  	<option value=""></option>
			<option  ng-repeat="song in songsArray | unique: 'album'" value="{{song.album}}">
	  </datalist>

	  <label for="genre">Genre:</label>
	  <div class="checkboxes row" id="genres">
	    <div class="col-xs-12" ng-repeat="song in songsArray | unique: 'genre'" ng-click="genreFilter()">
				<input id="{{song.genre}}" type="checkbox" value="{{song.genre}}"  class="checkbox" checked/>
				<label for="{{song.genre}}">{{song.genre}}</label>
			</div>
		</div>

	  <button class="btn btn-default" id="filterSongs">Filter</button>

	</div>

	<div class="history col-sm-9">
		<div>
			<label for="searchQuery">Search by:  Song Title - Artist - Album - Genre </label>
		  <input id="searchQuery" type="text" ng-model="query.$" />
		</div>

		<div class="wrapper" id="addSongsHere">
			<div class="song" ng-repeat="song in songsArray | filter: query | filter: filterByGenres" value="{{song.title}}">
				<a href="#/songs/{{ song.key }}">{{ song.name }}
				<h3>{{ song.title }}</h3>
			 	<p>{{ song.artist }} on {{ song.album }} - {{ song.genre }} </p>
			 	</a>
			</div>
		</div>
	</div>

</div>












