<div nav-bar-dir></div>

<div class="row" id="addNewSongs">
	<div class="addNew col-sm-12">
		<form action="GET">

			<h3>Add New Songs to the Library</h3>

			<!-- //title -->
			<label for="song_title">Song Title</label>
  		<input id="song_title" type="text" name="song_name" placeholder="Song Title" ng-model="addSongCtrl.newSongTitle"/>

			<!-- //artist -->
			<label for="artist">Artist</label>
  		<input id="artist" type="text" name="artist" placeholder="Artist" ng-model="addSongCtrl.newSongArtist"/>


			<!-- //album -->
			<label for="album">Album</label>
  		<input id="album" type="text" name="album" placeholder="Album" ng-model="addSongCtrl.newSongAlbum"/>

			<!-- //genre -->
			<label for="genre">Genre</label>
  		<input id="genre" type="text" name="genre" placeholder="Genre" ng-model="addSongCtrl.newSongGenre" />

			<div class="song" value="{{addSongCtrl.newSongTitle}}">
				<p>Title: {{ addSongCtrl.newSongTitle }}</p>
			 	<p>Artist: {{ addSongCtrl.newSongArtist }}</p>
			 	<p>Album: {{ addSongCtrl.newSongAlbum }}</p>
			 	<p>Genre: {{ addSongCtrl.newSongGenre }} </p>
			</div>

			<button type='button' id='add-song' ng-click="addSongCtrl.addNew()">Add Song</button>

		</form>
	</div>
</div>