<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Angular Music History</title>
	<link rel="stylesheet" href="/lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/main.css">
</head>
<body>
<div ng-app="MusicHistoryApp">

	<div class="container-fluid" id="mainContent">

		<div ng-view></div>


	</div>


	<footer>
	    <p></p>
	<footer>
<!-- 	<section ng-controller="PastaCtrl">
		<h1>{{pasta}}</h1>
		<div>
			<input type="text"/ ng-model="foods">
			<div>{{foods}}</div>
		</div>
	</section>

	<section ng-controller="TodoCtrl">
		<h1>{{title}}</h1>
		<div>
			<input type="text" ng-model="searchText">
			<ul ng-repeat="todo in todos | filter: searchText">
				<li>{{todo.name}} <button ng-click="killTodo(todo)">x</button></li>
			</ul>
		</div>
		<div>
			<h3>Grouped Tasks</h3>
			<select ng-model="theTodo"
			ng-options="value.name group by value.complete for value in todos">
			</select>

		</div>
	</section> -->

</div>
  <!-- jQuery -->
	<script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Angular -->
	<script src="lib/bower_components/angular/angular.min.js"></script>
	<!-- Firebase -->
	<script src="lib/bower_components/firebase/firebase.js"></script>
	<!-- AngularFire -->
	<script src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>
	<!-- Angular Filter -->
	<script src="lib/bower_components/angular-filter/dist/angular-filter.min.js"></script>
	<!-- Angular Route -->
	<script src="lib/bower_components/angular-route/angular-route.min.js"></script>
	<script src="app/main.js"></script>
	<!-- factories! -->
	<script src="app/songBaseFac.js"></script>
	<!-- controllers! -->
	<script src="app/authCtrl.js"></script>
	<script src="app/addSongCtrl.js"></script>
	<script src="app/showSongCtrl.js"></script>
	<script src="app/singleSongCtrl.js"></script>
	<!-- custom directives! -->
	<script src="app/directives/navBar.js"></script>
	<script src="app/directives/songDisplay.js"></script>


</body>
</html>