/*Setup Styling*/
input.editInput, button.editInput, #mainNavbar {
  display: none; }

/*Styling for log in/sign up forms*/
#logInForm input, #signUpForm input {
  width: 40%; }

/*General Styles*/
body {
  margin: 10%;
  background-image: url("./../pics/background-fractals1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: black; }

body, h1, h2, h3, h4, h5, h6, p {
  font-family: Oswald, Sans-serif; }

nav, div.selector, div.history {
  box-sizing: border-box; }

button.btn-default {
  padding: 5px;
  margin: 0.5em auto 0.5em;
  border: 1px solid black;
  background-color: rgba(150, 155, 175, 0.25); }

/*Nav Stlyes*/
nav.navbar {
  background-color: rgba(37, 154, 63, 0.25);
  margin: 0;
  line-height: 4.5em;
  padding: 0 3%;
  border: 1px solid white;
  height: 5em; }

nav a.btn-default {
  font-size: 1.25em;
  padding: 0 25px;
  text-align: center;
  background-color: rgba(150, 155, 175, 0.25);
  color: white;
  text-shadow: 2px 2px black;
  -moz-transition: color 1.5s, transform 1.5s;
  -o-transition: color 1.5s, transform 1.5s;
  -webkit-transition: color 1.5s, transform 1.5s;
  transition: color 1.5s, transform 1.5s; }

nav a.selected {
  text-decoration: none;
  color: rgba(245, 245, 23, 0.25); }

nav a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px white;
  -moz-transition: color 1.5s, transform 1s;
  -o-transition: color 1.5s, transform 1s;
  -webkit-transition: color 1.5s, transform 1s;
  transition: color 1.5s, transform 1s;
  -moz-transform: rotate(1440deg);
  -o-transform: rotate(1440deg);
  -webkit-transform: rotate(1440deg);
  transform: rotate(1440deg); }

img.iconImg {
  height: 30px;
  width: 30px; }

/*.selector Form Styles*/
.selector {
  /*  height: 28em;
    width: 28.75%;
    float: left;*/
  height: 40em;
  background-color: rgba(150, 155, 175, 0.25);
  border: 1px solid white;
  overflow: scroll; }

.selector label, .selector input {
  margin: 5px; }

.selector label {
  display: block;
  padding: 5px; }

.selector form > input {
  display: block;
  padding: 5px;
  width: 80%;
  margin: auto;
  border: 1px solid black; }

.selector .checkboxes {
  margin: 1em 0 1.5em;
  width: 95%; }

.selector .checkboxes label {
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  display: inline-block; }

.checkboxes input {
  display: inline-block; }

.selector .checkbox {
  margin: 0; }

.selector button {
  clear: both;
  display: block;
  margin: 2em auto 1em; }

/*.History Styles*/
.history, .addNew {
  height: 40em;
  background-color: rgba(245, 245, 23, 0.25);
  border: 1px solid white;
  padding: 5%;
  overflow: scroll; }

.history {
  border-left: 0px; }

.history .wrapper {
  margin: 1em 0; }

.addNew h3, .addNew label, .addNew input, .addNew button {
  text-align: center;
  display: block;
  margin: 1em auto; }
.addNew input {
  border: 1px solid black; }

.song {
  background-color: rgba(145, 162, 228, 0.4);
  padding: 1em;
  -moz-transition: background-color 2s, font-size 2s;
  -o-transition: background-color 2s, font-size 2s;
  -webkit-transition: background-color 2s, font-size 2s;
  transition: background-color 2s, font-size 2s; }

.song:hover {
  background-color: rgba(145, 162, 228, 0.9);
  font-size: 1.2em; }

.song:nth-child(2n+1) {
  background-color: rgba(150, 155, 175, 0.4);
  padding: 1em;
  -moz-transition: background-color 2s, font-size 2s;
  -o-transition: background-color 2s, font-size 2s;
  -webkit-transition: background-color 2s, font-size 2s;
  transition: background-color 2s, font-size 2s; }

.song:nth-child(2n+1):hover {
  background-color: rgba(150, 155, 175, 0.9);
  font-size: 1.2em; }

.history .song:nth-child(2n+1) h3,
.history .song:nth-child(2n+1) p {
  color: rgba(150, 155, 175, 0.25);
  text-shadow: 1px 1px black; }

.history .song:first-child h3,
.history .song:first-child p {
  font-weight: bold; }

.history h3 {
  line-height: 1em;
  font-size: 1.5em;
  margin: .75em 1em;
  color: rgba(37, 154, 63, 0.25);
  text-shadow: 1px 1px black; }

.history p {
  display: inline-block;
  line-height: 2.5em;
  margin: 0 1em 0;
  text-align: center;
  font-size: 1em;
  color: black;
  text-shadow: 1px 1px black; }

.history button {
  display: block; }

.history button.remove, .history button.edit {
  display: none; }

/*Footer*/
footer {
  clear: both; }

/*Hidden Nav

nav.hidden {
  visibility: hidden;
  position: static;
}

*/
@media only screen and (max-width: 768px) {
  nav {
    height: 15em; }

  nav, .selector {
    border-bottom: 0px; }

  .history {
    border: 1px solid white; }

  body {
    margin: 0; } }

/*# sourceMappingURL=main.css.map */
